/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym {
  border:0;
}

/* Main structure */
html{
  font-size:100%;
  min-height:101%;
}
body{
  font:16px/1.5 Georgia, "Times New Roman", serif;
  background: url(/img/bkg.png) repeat;
}
#header {
  height:260px;
  background:transparent url("/img/layout/header-bkg.png") repeat-x bottom center;
}
#header h1, #header h1 a {
  width:680px;
  height:260px;
  margin:0 auto;
  background: url(/img/layout/header.png) bottom center no-repeat;
}
#header h1 a {
  text-indent: -9999px;
  position: relative;
  top: 100px; left: 12px;
  width: 426px;
  height: 82px;
  overflow: hidden;
  display: block;
  background: transparent;
}
#outer {
  margin:-36px auto 0;
  width:800px;
}
#content {
  color:#333;
  text-align:justify;
}
#footer {
  clear:both;
  margin:16px auto;
  background:transparent url("/img/layout/footer-bkg.png") no-repeat;
  width:320px;
  height:64px;
  padding:14px;
}
#footer span, #footer a {
  font-size:0.9em;
  font-style:italic;
  color:#fff;
}
#footer .years {
  padding:22px;
}
#footer .home {
  padding-left:48px;
}
#scraps {
  background:transparent url("/img/paper-bkg.png") repeat-x;
  height:48px;
}
#page {
  background: #fff;
  border-bottom-left-radius-radius:8px;
  border-bottom-right-radius-radius:8px;
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  padding: 1px 24px 24px;
}
.bar .c {
  height:32px;
  margin:0 24px;
  padding:6px 0;
  color:#fff;
}
.bar .c * {color:#fff}
.bar .green .w {
  background:transparent url("/img/bar-w.png") no-repeat;
}
.bar .green .e {
  background:transparent url("/img/bar-e.png") no-repeat top right;
}
.bar .green .c {
  background:transparent url("/img/bar-c.png") repeat-x;
}
#nav ul {
  margin-top:6px;
  padding:0;
}
#nav li {
  float:left;
  margin:0 12px;
  list-style:none;
}
#nav ul li ul, #nav ul li ol {display:none}
#nav a {
  color: #222;
  font-size:18px;
  font-style:italic;
  text-decoration:none;
  text-shadow:0 1px 0 #aaeeaa;
}
#toc {
  position:fixed;
  left:0;
  top:200px;
  background:rgba(60,60,60,.5);
  padding:8px 12px 8px 0;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
}
#toc, #toc a, #toc span {
  color:#fff;
  font-size:11px;
}
#toc ul {
  list-style:none;
  margin:0 0 0 12px
}
.team {
  list-style-type: none;
  padding:0 !important;
  overflow:hidden;
}
.team > li {clear:both}
.team .roles {font-style:italic}
.team > li > h3 {line-height:2em; margin: 0}
.team .avatar {
  float:left;
  border:1px solid #aaa;
  padding:8px;
  margin:4px;
  margin-right:16px;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}
.team .roles {
  list-style-type: none;
  margin:0 !important;
}
.team .roles li {
  float:left;
  margin-right:4px;
}

/* Typefaces */
p {
  line-height:1.5em;
  margin-bottom:1em;
}
p.intro:first-line{
  font-variant:small-caps;
}
p.drop:first-letter{
  float:left;
  font-size:3em;
  margin-top:-0.05em;
  margin-right:0.1em;
  margin-bottom:-0.5em;
}
h1, h2, h3, h4, h5, h6 {margin-bottom: .5em}
h1{
  font-size:2.5em;
  font-style:italic;
  line-height:1.2em;
}
h2{
  font-size:2em;
  line-height:1.2em;
}
h3{
  font-size:1.5em;
  line-height:1.2em;
  font-variant:small-caps;
}
h4{
  font-size:1.3em;
  line-height:1.2em;
  font-variant:small-caps;
}
h5{
  font-size:1.1em;
  line-height:1.2em;
  font-variant:small-caps;
}
h6{
  font-size:1em;
  line-height:1.2em;
}
a {color:#000}
a:hover{
  color:#555;
}
blockquote p{
  font-size:1.2em!important;
  line-height:1.5em!important;
  margin-bottom:1.5em!important;
  font-style:italic;
  font-weight:bold;
}
blockquote p cite{
  font-style:normal;
}
strong{
  font-variant:small-caps;
}
em{
  font-style:italic;
  font-weight:inherit;
}
.amp {
  font-family:Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-style:italic;
  font-weight:normal;
  line-height:inherit;
}
abbr{
  border-bottom:1px dotted #444;
  border-color:inherit;
  cursor:help;
}
.clear{
  clear:both;
}
.right-float{
  float:right;
  margin-left:2em;
  margin-right:0;
}
.left-float{
  float:left;
  margin-right:2em;
  margin-left:0;
}
textarea {
  font-family: monaco, lucida console, monospace;
  font-size: 11px;
}
.highlight {
  background-color:#EFFFCC;
  border:1px solid #66BB66;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  padding:8px;
  margin:4px 0;
}
img {font-size:1em}
img.left-img{
  font-size:1em;
  float:left;
  padding:4px;
  border:1px solid #ccc;
  margin-bottom:1.8em;
  margin-right:2em;
  margin-top:0.3em;
}
img.right-img{
  font-size:1em;
  float:right;
  padding:4px;
  border:1px solid #ccc;
  margin-bottom:1.8em;
  margin-left:2em;
  margin-top:0.3em;
}
ul{
  margin-bottom:1.2em;
  list-style:disc inside;
}
ul li{
  line-height:1.5em;
}
ul li.caption{
  font-variant:small-caps;
  list-style:none;
  color:#000;
}
li > ul, li > ol{
  margin-bottom:0;
  margin-left:5em;
}
li > ul li, li > ol li{
  font-size:1em;
}
ol{
  margin-bottom:1.8em;
  list-style:decimal inside;
}
ol li{
  line-height:1.5em;
}
.submits {margin: 1em 0}
.submits input {font-size: 112%}

#md-markup-help {font-size:.75em}
#md-markup-help-contents {background: #fff; padding: 12px}
#colorbox #md-markup-help-contents pre {margin: 0 -12px}

.inplace, .inplace:visited {text-decoration: none; border-bottom: 1px dashed}

/* Code highlighting */
pre, code {
  font-family: monaco, lucida console, bitstream vera sans mono, monospace;
  font-size: 14px;
  color: #383;
}
pre code {
  font-size: 12px;
  display: block;
  color: #333;
}
pre {
  background: #f3f8f3;
  border-top: 1px solid #e0e8e0;
  border-bottom: 1px solid #e0e8e0;
  margin: 0 -24px 16px;
  padding: 8px 16px;
}
pre .comment, pre .javadoc {
  color: #998;
  font-style: italic
}
pre .javadoctag, pre .annotation, pre .pi {
  color: #770;
}
pre .keyword, pre .class .keyword, pre .attribute {
  color: #550;
}
pre .number, pre .hexcolor, pre .string, pre .attribute .value {
  color: #2a2
}
pre .class .title, pre .tag {
  color: #337;
}
