/* Commons */

body, form, h1, h2, h3, h4, h5, h6, dl, ol, ul {
  margin:0;
  padding:0;
}
fieldset, img {
  border:0;
}
.clear{
  clear:both;
}
.right-float{
  float:right;
  margin-left:2em;
  margin-right:0;
}
.left-float{
  float:left;
  margin-right:2em;
  margin-left:0;
}

h1, h2, h3, p, ul, ol, dl, pre {
  margin-bottom:.5em;
}
h1, h2, h3 {
  font: 32px/1.5 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Verdana, Tahoma, sans-serif;
  margin: .75em 0;
}
h1 {
  border-bottom: 1px solid #777;
}
h2, h3 {
  font-size:24px;
  font-variant:small-caps;
  border-bottom: 1px solid #eee;
}
h3 {
  font-size:18px;
}
h1:first-child {
  margin-top:-8px;
}
ul, ol {
  padding-left:32px;
}
#footer {
  text-align:center;
  padding: 24px;
  font-size:.75em;
}
#footer p {
  margin:0
}
ul > li > pre {
  margin-left: -57px;
}

/* Layout */

.amp {
  font-family:Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif !important;
  font-style:italic !important;
  font-weight:normal !important;
  line-height:inherit !important;
}
body {
  color:#333;
  font: 16px/1.5 Palatino Linotype, Book Antiqua, Palatino, FreeSerif, serif;
}
a, a:visited, a:hover {
  color:#516f5d;
}
a:hover {
  color:#304035;
}
#header {
  background: -moz-linear-gradient(-90deg, #fff, #ccc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  border-bottom:1px solid #aaa;
  text-shadow:0 1px 1px #eee;
}
#header .wrap, #content, #footer {
  width:900px;
}
#header .wrap {
  background: url(/img/scala-line-54.png) 24px 0 repeat-y;
  height: 88px;
}
#header h1 {
  margin:0;
  padding:4px 0 0 88px;
  border:0;
  float:left;
}
#header h1 a {
  text-indent:-9999px;
  width:288px;
  height:117px;
  position:absolute;
  background:transparent url(/img/logo.png) no-repeat;
}
#header a {
  text-decoration:none;
}
#header .aside {
  display:block;
  float:right;
  font-variant:small-caps;
  font-size:24px;
  line-height:24px;
  color:#444;
  margin-top:56px;
}
#header .aside a {
  color:#990000;
}
#header .aside a:hover {
  color:#770000;
}
#page {
  box-shadow: 1px 1px 3px #777;
  -moz-box-shadow: 1px 1px 3px #777;
  -webkit-box-shadow: 1px 1px 3px #777;
  background: #fff;
  background: -webkit-gradient(linear, 0% 0%, 2% 0%, from(#f7f7f7), to(#fff));
  padding:36px; /*24*/
  border-bottom-right-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomright:8px;
}

#content table {
  border-collapse:collapse;
}
#content table th {
  font: 18px/1.5 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Verdana, Tahoma, sans-serif;
  background:#fafafa;
}
#content table tr {
  border-bottom:1px solid #eee;
}
#content table code {
  border:0;
}

/* Code highlighting */

pre, code {
  font-family: monaco, lucida console, bitstream vera sans mono, monospace;
  font-size:.85em;
  font-variant:normal;
  background: #f3f8f3;
  border: 1px solid #e3e8e3;
}
pre code {
  font-size: 12px;
  display: block;
  border:0;
  background:transparent;
}
pre {
  background: #f3f8f3;
  background: -webkit-gradient(linear, 0% 0%, 2% 0%, from(#e5eee3), to(#f3f8f3));
  border-top: 1px solid #e0e8e0;
  border-bottom: 1px solid #e0e8e0;
  margin: 0 -24px 16px;
  padding: 8px 16px;
  overflow-x:auto;
}
pre .comment, pre .javadoc {
  color: #998;
  font-style: italic
}
pre .javadoctag, pre .annotation, pre .pi {
  color: #770;
}
pre .keyword, pre .class .keyword, pre .attribute {
  color: #550;
}
pre .number, pre .hexcolor, pre .string, pre .attribute .value {
  color: #2a2
}
pre .class .title, pre .tag {
  color: #337;
}

/* Table of Contents */

.toc {
  position:fixed;
  right:0;
  top:0;
  padding:8px 12px;
  background:rgba(0,0,0,.7);
  border-bottom-left-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -moz-border-radius-bottomleft:8px;
  border:2px solid #333;
  border-width: 0 0 2px 2px;
  overflow:hidden;
}
.toc, .toc a, .toc a:hover, .toc a:visited, .toc span, #toc-show, #toc-hide {
  color:#fff;
  font:13px/1.5 Lucida Grande, Lucida Sans Unicode, Arial, sans-serif;
  font-variant:small-caps;
  text-decoration:none;
}
#toc-show, #toc-hide {font-weight:bold}
#toc-hide { margin-right:4px;}
#toc-hide span { position:absolute;}
.toc a:hover {text-decoration:underline; color:#fff}
.toc li > span, .toc li > span * {color:#aaa}
.toc ul {
  list-style:none;
  padding-left:24px;
}
.toc > ul {
  margin:0;
  padding:0;
}

/* Markdown Live */

#me-markup-help-contents {
  background:#fff;
  padding:8px;
}
#me-source {
  font-family: Monaco, monospace;
}

/* Docco */

#docco-index ul { list-style:none outside }
#docco-back {
  position:absolute;
  padding:24px;
  border:0;
}
#docco-page .docs {
  max-width: 500px;
  min-width: 500px;
  min-height: 5px;
  padding: 12px 16px 0 24px;
  vertical-align: top;
  text-align: left;
}
#docco-page .code {
  padding: 8px;
  width: 100%;
  vertical-align: top;
  background: #f3f8f3;
  border-left: 1px solid #e5e5ee;
}
#docco-page .code pre {
  background:transparent;
  border:0;
  margin:0;
}
#docco-page .code pre code, #docco-page .docs pre code {
  font: 12px Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}
#docco-page > table {
  border-bottom:1px solid #e5e5ee;
}

#components {
  width: 100%;
}

#components td {
  padding-left: 10px;
  width: 33%;
  vertical-align: top;
}